/GeneralClientNetworkFramework/Library
/GeneralClientNetworkFramework/Logs
/GeneralClientNetworkFramework/Temp
/GeneralClientNetworkFramework/UserSettings
/GeneralClientNetworkFramework/obj
/.idea


/GeneralServerFramework/src/obj
/GeneralServerFramework/src/bin


.vsconfig
.vs/
.vscode/
